@import "../../variables";
@import "../../shared-styles";

@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}

body {
  background: $purple !important;
}

.intro-container {
  margin-top: 10%;

  padding: 20px;
  small {
    color: $light;
    font-family: exospace;
  }
  .intro-btn {
    background: $lightpurple;
    color: $seagreen;
    border: none;
    padding: 10px 60px;
    border-radius: 30px;
    font-size: 30px;
  }
  h1 {
    color: $light;
    font-size: 60px !important;
    font-family: exospace;

    span {
      color: $seagreen !important;
      font-weight: bold;
      font-family: cyborg;
    }
  }
  .screen {
    margin-left: -100px;
    margin-top: -100px;
  }
}
