@import "../../variables";
@import "../../shared-styles";

@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}

body {
  background: $purple !important;
}
.intro-btn {
  background: $darkpurple;
  color: $purple;
  border: none;
}
