@import "../../variables";
@import "../../shared-styles";

@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}

body {
  background: $purple !important;
}
.intro-btn {
  background: $lightpurple;
  color: $seagreen;
  border: none;
  padding: 10px 60px;
  border-radius: 30px;
  font-size: 50px;
}
