@import "../../variables";
@import "../../shared-styles";

@media screen and (min-width: 620px) {
  .flexy {
    display: flex;
  }
}

body {
  background: $purple !important;
}

.intro-container {
  margin-top: 10%;

  padding: 20px;
  small {
    color: $light;
    font-family: exospace;
  }
  .intro-btn {
    background: $lightpurple;
    color: $seagreen;
    border: none;
    padding: 10px 60px;
    border-radius: 30px;
    font-size: 30px;
  }
  h1 {
    color: $light;
    font-size: 60px !important;
    font-family: exospace;

    span {
      color: $seagreen !important;
      font-weight: bold;
      font-family: cyborg;
    }
  }
  .screen {
    margin-left: -100px;
    margin-top: -90px;
  }

  .screen-div {
    height: fit-content;
    width: 100px;
    // background: red;
    border-radius: 100%;
  }
  .center {
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .center2 {
    height: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .wave {
    width: 5px;
    height: 5px;
    background: linear-gradient(45deg, blue, red);
    margin: 1px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave2 {
    width: 5px;
    height: 5px;
    background: linear-gradient(45deg, blue, red);
    margin: 1px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  .wave2:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave2:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave2:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave2:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave2:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave2:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave2:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave2:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave2:nth-child(10) {
    animation-delay: 0.9s;
  }

  @keyframes wave2 {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}
