@import "../../variables";
@import "../../shared-styles";

.navbar-container {
  //   height: 50px;
  padding: 0px 0px 0px 50px;
  background: $lightpurple;
  margin-bottom: 50px;
  color: $seagreen;
  .logo {
    height: 40px;
    width: 40px;
  }
  ol li a {
    color: $light !important;
  }
  ol li {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -30px !important;
    margin-right: 30px !important;
  }
  button {
    padding: 3px 10px !important;
  }
}
