@import "../../variables";
@import "../../shared-styles";

.navbar-container {
  //   height: 50px;
  padding: 5px 0px 5px 50px;
  background: $lightpurple;
  margin-bottom: 50px;
  color: $seagreen;
  .logo {
    height: 40px;
    width: 40px;
  }
  ol li a {
    color: $light !important;
  }
}
