@import "../../variables";
@import "../../shared-styles";

.navbar-container {
  //   height: 50px;
  padding: 0px 0px 0px 50px;
  background: $lightpurple;
  margin-bottom: 50px;
  color: $seagreen;
  width: 100%;
  @media screen and (max-width: 620px) {
    // display: npone;
    padding: 0;
  }
  .logo {
    height: 40px;
    width: 40px;
  }
  ol li a {
    color: $light !important;
    text-decoration: none;
    &:hover {
      color: $seagreen !important;
      transition: 0.5s ease;
    }
    span {
      color: $seagreen;
      margin-right: 10px;
    }
  }
  ol li {
    padding: 0 !important;
    margin: 0 !important;
    margin-top: -30px !important;
    margin-right: 30px !important;
    font-family: exospace;
    @media screen and (max-width: 620px) {
      margin-right: 0px !important;
      margin-top: -60px !important;
    }
  }
  ol {
    @media screen and (max-width: 620px) {
      margin-left: 30px !important;
    }
  }
  button {
    padding: 3px 10px !important;
    @media screen and (max-width: 620px) {
      margin-left: 5px !important;
    }
  }
  position: relative;
  z-index: 20;
}
