@font-face {
    font-family: cyborg;
   src: url(./assets/Essones-font/ESDR.ttf);
}
@font-face {
    font-family: exospace;
    src: url(./assets/fonts/exospace.ttf);
}
* {
  margin: 0;
  /* cursor: none; */
}

@font-face {
    font-family:essonse-bold;
    src: url(./assets/Essones-font/ESB.ttf);
}
@font-face {
    font-family:essonses-bold-italic;
    src: url(./assets/Essones-font/ESBI.ttf);
}
@font-face {
    font-family:essones-d-regular;
    src: url(./assets/Essones-font/ESDR.ttf);
}
@font-face {
    font-family:essones-t-regular;
    src: url(./assets/Essones-font/ESTR.ttf);
}
@font-face {
    font-family:essones-t-bold;
    src: url(./assets/Essones-font/Ess-t-bold.ttf);
}
