@import "../../../variables";
@import "../../../shared-styles";

.nav-pills .nav-link.active {
  background: $lightpurple !important;
  color: $seagreen !important;
  border-left: solid 3px $seagreen !important;
  border-radius: 0 !important;
  transition: 1s ease !important;
  font-size: 13px !important;
}
.nav-link {
  color: $light !important;
  font-family: exospace;
  padding: 0px !important;
  font-size: 12px !important;
  padding: 5px 0 5px 0 !important;
  margin-top: 10px;
}
h6 {
  color: $light;
}
