@import "../../../variables";
@import "../../../shared-styles";

.nav-pills .nav-link.active {
  background: $lightpurple !important;
  color: $seagreen !important;
  border-left: solid 3px $seagreen !important;
  border-radius: 0 !important;
  transition: 1s ease !important;
}
.nav-link {
  color: $light !important;
  font-family: exospace;
  padding: 10px !important;
}
