@import "../../../variables";
@import "../../../shared-styles";
.mobile-accordion {
  width: 100px !important;
  margin: 0 !important;
  margin-top: -75px !important;
  background: $lightpurple;
  height: 150px;
  padding: 20px;
}
