@import "../../variables";
@import "../../shared-styles";

.project-body {
  margin-top: 70px;
  height: 400px;
  box-shadow: 0 0 1px 0px rgb(74, 73, 73);
  border-radius: 50px;
  background: $purple;
  padding: 30px 0;
  @media screen and (max-width: 620px) {
    padding: 30px 0 30px 10px;
  }
  .preview {
    height: 100%;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    // border-radius: 40px;
    transition: 0.5s ease;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    @media screen and (max-width: 620px) {
      border-radius: 40px;
    }
    img {
      width: 100%;
    }
  }
  .about {
    padding-top: 10%;
  }
  h4 {
    color: $light;
    font-family: exospace;
  }
  i {
    float: right;
    position: relative;
    z-index: 2;
    color: $light !important;
    text-decoration: none !important;
    margin-top: 40px;
    margin-right: 40px;
    &:hover {
      color: $seagreen !important;
    }
  }

  .cool-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: $light;
    transition: width 0.3s;
    position: relative;
    z-index: 300000000000000;
  }

  .cool-link:hover::after {
    width: 50%;
  }
  .numbers {
    margin-top: -60px;
    margin-left: -60px;
  }
}
.wellspring {
  background-image: url("../../assets/well.png");

  &:hover {
    background: #204391;
    transition: 0.5s ease;
  }
}
.clairemont {
  background-image: url("../../assets/claire.png");
  &:hover {
    background: #2b3363;
    transition: 0.5s ease;
  }
}
.maryland {
  background-image: url("../../assets/maryland.png");
  @media screen and (max-width: 620px) {
    background-image: url("../../assets/maryland-mobile.png") !important;
    background-position: center center;
    background-repeat: no-repeat !important;
  }
  &:hover {
    background: #50a045;
    transition: 0.5s ease;
  }
}
.switchapp {
  transition: 1s ease;

  background-image: url("../../assets/switchapp.png");
  @media screen and (max-width: 620px) {
    background-image: url("../../assets/mobile-switch.png");
  }
  &:hover {
    // background-image: url("../../assets/switchapp2.png");
    transition: 1s ease;
    background: #8ecbfe;
  }
}
.link-alteration1 {
  color: #5383ec;
  font-family: exospace;
  text-decoration: none !important;
}
.link-alteration2 {
  color: #7578d3;
  font-family: exospace;
  text-decoration: none !important;
}
.link-alteration4 {
  color: #487d11;
  font-family: exospace;
  text-decoration: none !important;
}
.link-alteration3 {
  color: #85c5fd;
  font-family: exospace;
  text-decoration: none !important;
}
.project2-body {
  background: $purple;
  border-radius: 5px;
  margin-top: 60px;
  height: fit-content;
  padding: 20px 40px;
  transition: 0.5s ease;
  &:hover {
    .ext-link {
      display: block;
      transition: 0.5s ease;
    }
  }
  a {
    text-decoration: none;
    color: $light;
    &:hover {
      color: $light;
    }
  }
  .ext-link {
    display: none;
    transition: 0.5s ease;
  }
  @media screen and (max-width: 620px) {
    padding: 20px 60px;
    // margin-left: 40px;
  }
  &:hover {
    background: rgba(114, 245, 219, 0.1);
    transition: 0.5s ease;
  }
  h5 {
    color: $light;
    margin-bottom: 20px;
    margin-top: 20px;
    &:hover {
      color: $seagreen;
    }
  }
  p {
    font-size: 14px;
    font-family: exospace;
  }
  .folder {
    text-decoration: none !important;
    font-size: 30px !important;
  }
  i {
    color: $seagreen !important;
    @media screen and (max-width: 620px) {
      font-size: 30px !important;
    }
  }
  ul li {
    font-size: 9px;
    font-weight: 100;
    font-family: exospace;
    color: $seagreen;
  }
}
.more {
  color: $seagreen;
  text-decoration: none;
  font-size: 12px;
  &:hover {
    color: $light;
  }
}
.project-logo {
  margin-top: 30%;
  width: 20%;
  display: none;
}

.preview:hover .project-logo {
  display: block;
}
.modal-header {
  padding: 0 !important;
  border: none !important;
  // height: 0 !important;
  .btn-close {
    padding: 0 !important;
    // margin: 0 !important;
    z-index: 433333;
    // background: red !important;
    margin-right: 50px !important;
    margin-top: 1px !important;
  }
}
.modal-content {
  @media screen and (max-width: 620px) {
    width: 100% !important;
  }
  img {
    @media screen and (max-width: 620px) {
      width: 100% !important;
    }
  }
}
.mobile-switch {
  height: 200%;
  background-image: url("../../assets/switchapp.png") !important;
  background-repeat: no-repeat !important;
  background-size: cover;
  @media screen and (max-width: 620px) {
    background-image: url("../../assets/mobile-switch.png") !important;
    height: 1500px;
  }
}
.maryland-mobile {
  background-image: url("../../assets/maryland.png");
  height: 200%;
  background-repeat: no-repeat !important;
  background-size: cover;
  @media screen and (max-width: 620px) {
    background-image: url("../../assets/maryland-mobile.png") !important;
    height: 1500px;
  }
}
