@import "../../variables";
@import "../../shared-styles";

.project-body {
  margin-top: 70px;
  height: 400px;
  border: solid 1px $light;
  border-radius: 50px;
  background: $purple;
  padding: 30px 0;
  .preview {
    height: 100%;
    background-image: url("../../assets/well.png");
    background-size: cover;
    background-position: center center;
    border-radius: 40px;
    animation: cursorAnim 10s linear infinite;
    &:hover {
      background-image: url("../../assets/well2.png");
    }
    img {
      width: 100%;
      border-radius: 40px;
    }
  }
}
